/* @font-face */
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts_pagina/Roboto-Regular.ttf');
}

/* ajustes principal*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  font-family: 'Roboto-Regular', sans-serif;
  background-color: #f0f8ff;
  color: #023e8a;
  line-height: 1.6;
}

/*ajustes header y footer */
header {
  background-color: #0077b6;
  color: white;
  padding: 20px;
  text-align: center;
  border-bottom: 4px solid #023e8a;
}

header h1 {
  margin-bottom: 10px;
}

/* ajustes principal */
#principal {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #caf0f8;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}

#principal h2::first-letter {
  font-size: 1.5em;
  color: #0077b6;
  font-weight: bold;
}


/*ajustes menu*/
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #023e8a;
  color: #ffd60a;
}

/* ajustes imagen fondo*/
.image-fondo {
  background-image: linear-gradient(rgba(240, 248, 255, 0.8), rgba(240, 248, 255, 0.8)), 
  url('../images/foto_natacion_especialidades.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 80vh;
  padding: 40px 0;
}

/*ajustes tabla */
table {
  width: 90%; 
  border-collapse: collapse;
  margin: 30px auto; 
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

th {
  background-color: #0077b6;
  color: white;
  padding: 15px;
  border: 1px solid #023e8a;
  text-decoration: underline;
}

td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left; 
}

.link_video {
  color: #023e8a;
  text-decoration: none; 
  font-weight: bold;
  border: 1px solid #023e8a;
  padding: 5px 10px;
  border-radius: 4px;
  transition: all 0.3s;
}

.link_video:hover {
  background-color: #023e8a;
  color: #ffd60a;
  text-decoration: underline;
}

/* ajustes tabla horari */
table {
  width: 90%; 
  border-collapse: collapse;
  margin: 30px auto; 
  background-color: white;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
  border-radius: 10px;
  overflow: hidden;
}

th {
  background-color: #0077b6;
  color: white;
  padding: 15px;
  border: none;
  text-transform: uppercase;
  font-size: 0.9em;
}

td {
  padding: 15px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

td:nth-child(3) {
  font-weight: bold;
  color: #0077b6;
}

/*ajustes animacion tablas*/
tr{
    transition: all 0.3s;
}

tr:hover{
    background-color: rgb(214, 235, 250);
}

/* Peu */
footer {
  background-color: #0077b6;
  color: white;
  text-align: center;
  padding: 12px;
}